extends ../master-layout.pug

block header
 script(type='text/javascript', src='/assets/js/plugins/visualization/d3/d3.min.js')
 script(type='text/javascript', src='/assets/js/plugins/visualization/d3/d3_tooltip.js')
 script(type='text/javascript', src='/assets/js/plugins/forms/styling/switchery.min.js')
 script(type='text/javascript', src='/assets/js/plugins/forms/styling/uniform.min.js')
 script(type='text/javascript', src='/assets/js/plugins/forms/selects/bootstrap_multiselect.js')
 script(type='text/javascript', src='/assets/js/plugins/ui/moment/moment.min.js')
 script(type='text/javascript', src='/assets/js/plugins/pickers/daterangepicker.js')
 script(type='text/javascript', src='/assets/js/pages/form_layouts.js')
 script(type='text/javascript', src='/ckeditor/ckeditor.js')
 script(type='text/javascript', src='/assets/js/pages/editor_ckeditor.js')

block content
 h1 #{message}
 form.form-horizontal(action='/admin/post/new', method='post')
  fieldset.content-group
    legend.text-bold Add New Post
    .form-group
      label.control-label.col-lg-2 Title
      .col-lg-10
        input.form-control(type='text', placeholder='Interest Title', name='title', id='title')
    .form-group
      label.control-label.col-lg-2 Content
      .col-lg-10
        textarea(rows='5', cols='5', id='content', name='content', placeholder='Your Content Here')
    .form-group
      label.control-label.col-lg-2 Featured
      .col-lg-10
        input.form-control.styled(type='checkbox', name='featured', id='featured')
    .form-group
      label.control-label.col-lg-2 Enable Comment
      .col-lg-10
        input.form-control.styled(type='checkbox', name='e_comment', id='e_comment')
    .form-group
      label.control-label.col-lg-2 Layout
      .col-lg-10
        select.form-control(name='layout', id='layout')
          option(value='opt1') Usual select box
          option(value='opt2') Option 2
          option(value='opt3') Option 3
          option(value='opt4') Option 4
          option(value='opt5') Option 5
          option(value='opt6') Option 6
          option(value='opt7') Option 7
          option(value='opt8') Option 8
    .form-group
      label.control-label.col-lg-2
      .col-lg-2.col-lg-offset-8
        input.form-control.btn.btn-primary(type='submit', value='SUBMIT')
    